In [8]:
# import pypyodbc
import pandas as pd
from connections import connection
import pyodbc
import calendar

from datetime import datetime as dt
from datetime import timedelta as td
from datetime import date as d

import warnings

In [9]:
# Using an existing DSN (Data Source Name) for the connection


warnings.filterwarnings("ignore", category=UserWarning, message=".*only supports SQLAlchemy connectable.*")


ecrs_conn = pyodbc.connect(connection)

In [10]:

# Function to generate a list of dates for a given month and year
def generate_month_dates(year, month):
    # Find the start and end dates of the month
    start_date = dt(year, month, 1)
    
    # Get the last day of the month using calendar.monthrange
    _, last_day = calendar.monthrange(year, month)
    end_date = dt(year, month, last_day)

    # Generate the list of dates
    date_list = []
    current_date = start_date
    while current_date <= end_date:
        date_list.append(current_date.strftime('%Y-%m-%d'))  # Store the date as a string
        current_date += td(days=1)  # Increment by 1 day

    return date_list

# Dictionary to store the dates for each month
all_month_dates = {}


# Loop through each month of 2024
for month in range(1, 13):
    all_month_dates[calendar.month_name[month]] = generate_month_dates(2022, month)

# Print the result (optional)
for month, dates in all_month_dates.items():
    print(f"{month}: {dates}")

January: ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12', '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16', '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20', '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24', '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28', '2022-01-29', '2022-01-30', '2022-01-31']
February: ['2022-02-01', '2022-02-02', '2022-02-03', '2022-02-04', '2022-02-05', '2022-02-06', '2022-02-07', '2022-02-08', '2022-02-09', '2022-02-10', '2022-02-11', '2022-02-12', '2022-02-13', '2022-02-14', '2022-02-15', '2022-02-16', '2022-02-17', '2022-02-18', '2022-02-19', '2022-02-20', '2022-02-21', '2022-02-22', '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-26', '2022-02-27', '2022-02-28']
March: ['2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04', '2022-03-05', '2022-03-06', '2022-03-07', '2022-03-08', '2022-03-09', '2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13', '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17', '2022-03-18', '2022-03-19', '2022-03-20', '2022-03-21', '2022-03-22', '2022-03-23', '2022-03-24', '2022-03-25', '2022-03-26', '2022-03-27', '2022-03-28', '2022-03-29', '2022-03-30', '2022-03-31']
April: ['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04', '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08', '2022-04-09', '2022-04-10', '2022-04-11', '2022-04-12', '2022-04-13', '2022-04-14', '2022-04-15', '2022-04-16', '2022-04-17', '2022-04-18', '2022-04-19', '2022-04-20', '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24', '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28', '2022-04-29', '2022-04-30']
May: ['2022-05-01', '2022-05-02', '2022-05-03', '2022-05-04', '2022-05-05', '2022-05-06', '2022-05-07', '2022-05-08', '2022-05-09', '2022-05-10', '2022-05-11', '2022-05-12', '2022-05-13', '2022-05-14', '2022-05-15', '2022-05-16', '2022-05-17', '2022-05-18', '2022-05-19', '2022-05-20', '2022-05-21', '2022-05-22', '2022-05-23', '2022-05-24', '2022-05-25', '2022-05-26', '2022-05-27', '2022-05-28', '2022-05-29', '2022-05-30', '2022-05-31']
June: ['2022-06-01', '2022-06-02', '2022-06-03', '2022-06-04', '2022-06-05', '2022-06-06', '2022-06-07', '2022-06-08', '2022-06-09', '2022-06-10', '2022-06-11', '2022-06-12', '2022-06-13', '2022-06-14', '2022-06-15', '2022-06-16', '2022-06-17', '2022-06-18', '2022-06-19', '2022-06-20', '2022-06-21', '2022-06-22', '2022-06-23', '2022-06-24', '2022-06-25', '2022-06-26', '2022-06-27', '2022-06-28', '2022-06-29', '2022-06-30']
July: ['2022-07-01', '2022-07-02', '2022-07-03', '2022-07-04', '2022-07-05', '2022-07-06', '2022-07-07', '2022-07-08', '2022-07-09', '2022-07-10', '2022-07-11', '2022-07-12', '2022-07-13', '2022-07-14', '2022-07-15', '2022-07-16', '2022-07-17', '2022-07-18', '2022-07-19', '2022-07-20', '2022-07-21', '2022-07-22', '2022-07-23', '2022-07-24', '2022-07-25', '2022-07-26', '2022-07-27', '2022-07-28', '2022-07-29', '2022-07-30', '2022-07-31']
August: ['2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04', '2022-08-05', '2022-08-06', '2022-08-07', '2022-08-08', '2022-08-09', '2022-08-10', '2022-08-11', '2022-08-12', '2022-08-13', '2022-08-14', '2022-08-15', '2022-08-16', '2022-08-17', '2022-08-18', '2022-08-19', '2022-08-20', '2022-08-21', '2022-08-22', '2022-08-23', '2022-08-24', '2022-08-25', '2022-08-26', '2022-08-27', '2022-08-28', '2022-08-29', '2022-08-30', '2022-08-31']
September: ['2022-09-01', '2022-09-02', '2022-09-03', '2022-09-04', '2022-09-05', '2022-09-06', '2022-09-07', '2022-09-08', '2022-09-09', '2022-09-10', '2022-09-11', '2022-09-12', '2022-09-13', '2022-09-14', '2022-09-15', '2022-09-16', '2022-09-17', '2022-09-18', '2022-09-19', '2022-09-20', '2022-09-21', '2022-09-22', '2022-09-23', '2022-09-24', '2022-09-25', '2022-09-26', '2022-09-27', '2022-09-28', '2022-09-29', '2022-09-30']
October: ['2022-10-01', '2022-10-02', '2022-10-03', '2022-10-04', '2022-10-05', '2022-10-06', '2022-10-07', '2022-10-08', '2022-10-09', '2022-10-10', '2022-10-11', '2022-10-12', '2022-10-13', '2022-10-14', '2022-10-15', '2022-10-16', '2022-10-17', '2022-10-18', '2022-10-19', '2022-10-20', '2022-10-21', '2022-10-22', '2022-10-23', '2022-10-24', '2022-10-25', '2022-10-26', '2022-10-27', '2022-10-28', '2022-10-29', '2022-10-30', '2022-10-31']
November: ['2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04', '2022-11-05', '2022-11-06', '2022-11-07', '2022-11-08', '2022-11-09', '2022-11-10', '2022-11-11', '2022-11-12', '2022-11-13', '2022-11-14', '2022-11-15', '2022-11-16', '2022-11-17', '2022-11-18', '2022-11-19', '2022-11-20', '2022-11-21', '2022-11-22', '2022-11-23', '2022-11-24', '2022-11-25', '2022-11-26', '2022-11-27', '2022-11-28', '2022-11-29', '2022-11-30']
December: ['2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04', '2022-12-05', '2022-12-06', '2022-12-07', '2022-12-08', '2022-12-09', '2022-12-10', '2022-12-11', '2022-12-12', '2022-12-13', '2022-12-14', '2022-12-15', '2022-12-16', '2022-12-17', '2022-12-18', '2022-12-19', '2022-12-20', '2022-12-21', '2022-12-22', '2022-12-23', '2022-12-24', '2022-12-25', '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29', '2022-12-30', '2022-12-31']

In [11]:
# def Month_df(date_list):
#     # Prepare a list to store DataFrames for each date range
#     df_list = []

#     # Iterate over pairs of consecutive dates using zip
#     for start_date, end_date in zip(date_list[:-1], date_list[1:]):
#         # Build the SQL query
#         ecrs_query = f"""SELECT 
#                             TRN_PK, TRN_StartTime AS StartTime, TRN_EndTime AS EndTime, TRN_ReceiptNumber AS ReceiptNumber, 
#                             CUS_AccountNum AS CustomerAccount, DPT_Name AS Department, CTI_DiscountAmount AS DiscountAmount, 
#                             TRN_Total AS TransactionTotal, TRN_NetSales AS NetSales, 
#                             CASE WHEN CTI_DiscountAmount <= 0 THEN TLI_Quantity ELSE -TLI_Quantity END AS RedemptionCount, 
#                             TLI_Quantity, TLI_Amount
#                         FROM v_TJTrans 
#                         WHERE CMB_Name LIKE '%Senior 10%' 
#                         AND TRN_EndTime BETWEEN '{start_date}' AND '{end_date}' 
#                         AND TRN_AllVoid = 0 
#                         AND ITI_VOID = 0 
#                         AND TRN_Status = 0
#         """
#         # Execute the query and append the result to df_list
#         ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
#         df_list.append(ecrs_df)
#         # print(f'{start_date} to {end_date} appended')

#         # Handle the last date separately to ensure the full day (up to 23:59:59) is included
#     last_start_date = dt.strptime(date_list[-2], '%Y-%m-%d')
#     last_end_date = dt.strptime(date_list[-1], '%Y-%m-%d')

#     # Adjust the last_end_date to include the full day (23:59:59)
#     last_end_date = last_end_date.replace(hour=23, minute=59, second=59)

#     last_ecrs_query = f"""SELECT 
#                             TRN_PK, TRN_StartTime AS StartTime, TRN_EndTime AS EndTime, TRN_ReceiptNumber AS ReceiptNumber, 
#                             CUS_AccountNum AS CustomerAccount, DPT_Name AS Department, CTI_DiscountAmount AS DiscountAmount, 
#                             TRN_Total AS TransactionTotal, TRN_NetSales AS NetSales, 
#                             CASE WHEN CTI_DiscountAmount <= 0 THEN TLI_Quantity ELSE -TLI_Quantity END AS RedemptionCount, 
#                             TLI_Quantity, TLI_Amount
#                         FROM v_TJTrans 
#                         WHERE CMB_Name LIKE '%Senior 10%' 
#                         AND TRN_EndTime BETWEEN '{last_start_date}' AND '{last_end_date}' 
#                         AND TRN_AllVoid = 0 
#                         AND ITI_VOID = 0 
#                         AND TRN_Status = 0
#     """
#     # Execute the query for the last day and append the result
#     last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)
#     df_list.append(last_ecrs_df)
#     # print(f'{last_start_date} to {last_end_date} appended')

#     # Concatenate all DataFrames for the month
#     month_df = pd.concat(df_list, ignore_index=True)
#     return month_df

In [12]:
def Month_df(date_list, ecrs_conn):
    # Prepare a list to store DataFrames for each date range
    df_list = []

    # Iterate over pairs of consecutive dates using zip
    for start_date, end_date in zip(date_list[:-1], date_list[1:]):
        # Build the SQL query
        ecrs_query = f"""SELECT 
                            TRN_PK, TRN_StartTime AS StartTime, TRN_EndTime AS EndTime, TRN_ReceiptNumber AS ReceiptNumber, 
                            CUS_AccountNum AS CustomerAccount, DPT_Name AS Department, CTI_DiscountAmount AS DiscountAmount, 
                            TRN_Total AS TransactionTotal, TRN_NetSales AS NetSales, 
                            CASE WHEN CTI_DiscountAmount <= 0 THEN TLI_Quantity ELSE -TLI_Quantity END AS RedemptionCount, 
                            TLI_Quantity, TLI_Amount
                        FROM v_TJTrans 
                        WHERE CMB_Name LIKE '%Senior 10%' 
                        AND TRN_EndTime BETWEEN '{start_date}' AND '{end_date}' 
                        AND TRN_AllVoid = 0 
                        AND ITI_VOID = 0 
                        AND TRN_Status = 0
        """
        try:
            # Execute the query and append the result to df_list
            ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
            df_list.append(ecrs_df)
            # print(f'{start_date} to {end_date} appended')
        except Exception as e:
            print(f"Error executing query for {start_date} to {end_date}: {e}")

    # Handle the last date separately to ensure the full day (up to 23:59:59) is included
    last_start_date = dt.strptime(date_list[-2], '%Y-%m-%d')
    last_end_date = dt.strptime(date_list[-1], '%Y-%m-%d')

    # Adjust the last_end_date to include the full day (23:59:59)
    last_end_date = last_end_date.replace(hour=23, minute=59, second=59)

    last_ecrs_query = f"""SELECT 
                            TRN_PK, TRN_StartTime AS StartTime, TRN_EndTime AS EndTime, TRN_ReceiptNumber AS ReceiptNumber, 
                            CUS_AccountNum AS CustomerAccount, DPT_Name AS Department, CTI_DiscountAmount AS DiscountAmount, 
                            TRN_Total AS TransactionTotal, TRN_NetSales AS NetSales, 
                            CASE WHEN CTI_DiscountAmount <= 0 THEN TLI_Quantity ELSE -TLI_Quantity END AS RedemptionCount, 
                            TLI_Quantity, TLI_Amount
                        FROM v_TJTrans 
                        WHERE CMB_Name LIKE '%Senior 10%' 
                        AND TRN_EndTime BETWEEN '{last_start_date}' AND '{last_end_date}' 
                        AND TRN_AllVoid = 0 
                        AND ITI_VOID = 0 
                        AND TRN_Status = 0
    """
    try:
        # Execute the query for the last day and append the result
        last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)
        df_list.append(last_ecrs_df)
        # print(f'{last_start_date} to {last_end_date} appended')
    except Exception as e:
        print(f"Error executing query for {last_start_date} to {last_end_date}: {e}")

    # Concatenate all DataFrames for the month
    month_df = pd.concat(df_list, ignore_index=True)
    return month_df

In [13]:
# # Define the start and end dates for April 2024
# start_date = d(2024, 4, 1)
# end_date = d(2024, 4, 30)

# # Generate the list of days in the format 'YYYY-MM-DD'
# days_in_april_2024 = [(start_date + td(days=i)).strftime('%Y-%m-%d') for i in range((end_date - start_date).days + 1)]

# # Print the result
# print(days_in_april_2024)

In [14]:
# april_df = Month_df(days_in_april_2024,ecrs_conn)

In [15]:
# Create an empty list to store all DataFrames for each month
all_month_data = []

# Iterate over all months and get the DataFrame for each
for month in all_month_dates:
    month_df = Month_df(all_month_dates[month],ecrs_conn)  # Get the DataFrame for the current month
    month_df['Month'] = f'{month} 2022'  # Add a column for the month
    month_df.to_csv(f'{month}.csv', index=False)  # Save the DataFrame to a CSV file    
    all_month_data.append(month_df)  # Append to the list
    print(f"Data for {month} appended")

# Concatenate all DataFrames into one
final_df = pd.concat(all_month_data, ignore_index=True)

# Print or return the final DataFrame
print(final_df)

C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:58: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  month_df = pd.concat(df_list, ignore_index=True)

Data for January appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)

Data for February appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)

Data for March appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)

Data for April appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)

Data for May appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:58: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  month_df = pd.concat(df_list, ignore_index=True)

Data for June appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)

Data for July appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)

Data for August appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:58: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  month_df = pd.concat(df_list, ignore_index=True)

Data for September appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)

Data for October appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:58: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  month_df = pd.concat(df_list, ignore_index=True)

Data for November appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)
C:\Users\adossantos\AppData\Local\Temp\ipykernel_18356\1108871288.py:58: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  month_df = pd.concat(df_list, ignore_index=True)

Data for December appended
          TRN_PK               StartTime                 EndTime  \
0        1052052 2022-01-19 09:38:55.813 2022-01-19 09:41:19.542
1        1052052 2022-01-19 09:38:55.813 2022-01-19 09:41:19.542
2        1052052 2022-01-19 09:38:55.813 2022-01-19 09:41:19.542
3        1052052 2022-01-19 09:38:55.813 2022-01-19 09:41:19.542
4        1052052 2022-01-19 09:38:55.813 2022-01-19 09:41:19.542
...          ...                     ...                     ...
1878679  1735119 2022-12-31 10:43:24.263 2022-12-31 10:46:55.353
1878680  1735119 2022-12-31 10:43:24.263 2022-12-31 10:46:55.353
1878681  1735119 2022-12-31 10:43:24.263 2022-12-31 10:46:55.353
1878682  1735119 2022-12-31 10:43:24.263 2022-12-31 10:46:55.353
1878683  1735119 2022-12-31 10:43:24.263 2022-12-31 10:46:55.353

        ReceiptNumber   CustomerAccount                      Department  \
0              123039  44411100001                                 None
1              123039  44411100001                                 None
2              123039  44411100001                                 None
3              123039  44411100001                                 None
4              123039  44411100001                                 None
...               ...               ...                             ...
1878679        218362  44411100001       PRODUCE
1878680        218362  44411100001       PRODUCE
1878681        218362  44411100001       PRODUCE
1878682        218362  44411100001       CHEESE
1878683        218362  44411100001       PRODUCE

         DiscountAmount  TransactionTotal  NetSales  RedemptionCount  \
0                 -0.30             91.16     91.16              1.0
1                 -0.27             91.16     91.16              1.0
2                 -0.24             91.16     91.16              1.0
3                 -0.24             91.16     91.16              1.0
4                 -0.24             91.16     91.16              1.0
...                 ...               ...       ...              ...
1878679           -0.80            364.75    364.75              1.0
1878680           -0.80            364.75    364.75              1.0
1878681           -0.80            364.75    364.75              1.0
1878682           -0.75            364.75    364.75              1.0
1878683           -0.70            364.75    364.75              1.0

         TLI_Quantity  TLI_Amount          Month
0                 1.0       -0.30   January 2022
1                 1.0       -0.27   January 2022
2                 1.0       -0.24   January 2022
3                 1.0       -0.24   January 2022
4                 1.0       -0.24   January 2022
...               ...         ...            ...
1878679           1.0       -0.80  December 2022
1878680           1.0       -0.80  December 2022
1878681           1.0       -0.80  December 2022
1878682           1.0       -0.75  December 2022
1878683           1.0       -0.70  December 2022

[1878684 rows x 13 columns]

In [16]:
final_df.head(15)

,TRN_PK,StartTime,EndTime,ReceiptNumber,CustomerAccount,Department,DiscountAmount,TransactionTotal,NetSales,RedemptionCount,TLI_Quantity,TLI_Amount,Month
0,1052052,2022-01-19 09:38:55.813,2022-01-19 09:41:19.542,123039,44411100001,None,-0.30,91.16,91.16,1.0,1.0,-0.30,January 2022
1,1052052,2022-01-19 09:38:55.813,2022-01-19 09:41:19.542,123039,44411100001,None,-0.27,91.16,91.16,1.0,1.0,-0.27,January 2022
2,1052052,2022-01-19 09:38:55.813,2022-01-19 09:41:19.542,123039,44411100001,None,-0.24,91.16,91.16,1.0,1.0,-0.24,January 2022
3,1052052,2022-01-19 09:38:55.813,2022-01-19 09:41:19.542,123039,44411100001,None,-0.24,91.16,91.16,1.0,1.0,-0.24,January 2022
4,1052052,2022-01-19 09:38:55.813,2022-01-19 09:41:19.542,123039,44411100001,None,-0.24,91.16,91.16,1.0,1.0,-0.24,January 2022
5,1052052,2022-01-19 09:38:55.813,2022-01-19 09:41:19.542,123039,44411100001,None,-0.24,91.16,91.16,1.0,1.0,-0.24,January 2022
6,1052254,2022-01-19 10:58:01.471,2022-01-19 10:59:03.537,121487,44411100001,None,-0.84,59.95,59.95,1.0,1.0,-0.84,January 2022
7,1052254,2022-01-19 10:58:01.471,2022-01-19 10:59:03.537,121487,44411100001,None,-0.74,59.95,59.95,1.0,1.0,-0.74,January 2022
8,1052254,2022-01-19 10:58:01.471,2022-01-19 10:59:03.537,121487,44411100001,None,-0.72,59.95,59.95,1.0,1.0,-0.72,January 2022
9,1052254,2022-01-19 10:58:01.471,2022-01-19 10:59:03.537,121487,44411100001,None,-0.60,59.95,59.95,1.0,1.0,-0.60,January 2022
10,1052254,2022-01-19 10:58:01.471,2022-01-19 10:59:03.537,121487,44411100001,None,-0.55,59.95,59.95,1.0,1.0,-0.55,January 2022
11,1052254,2022-01-19 10:58:01.471,2022-01-19 10:59:03.537,121487,44411100001,None,-0.49,59.95,59.95,1.0,1.0,-0.49,January 2022
12,1052254,2022-01-19 10:58:01.471,2022-01-19 10:59:03.537,121487,44411100001,None,-0.40,59.95,59.95,1.0,1.0,-0.40,January 2022
13,1052254,2022-01-19 10:58:01.471,2022-01-19 10:59:03.537,121487,44411100001,None,-0.40,59.95,59.95,1.0,1.0,-0.40,January 2022
14,1052254,2022-01-19 10:58:01.471,2022-01-19 10:59:03.537,121487,44411100001,None,-0.40,59.95,59.95,1.0,1.0,-0.40,January 2022

In [17]:
# month_df.to_csv('january_2024.csv', index= False)

final_df.to_csv('monthly_2024.csv',index= False)

# don't add up all the discounts in sql, I'm missing transactions or discounts, totals are smaller than what Catapult reports