In [1]:
# import pypyodbc
import pandas as pd
from connections import connection
import pyodbc
import calendar

from datetime import datetime as dt
from datetime import timedelta as td
from datetime import date as d

In [2]:
# Using an existing DSN (Data Source Name) for the connection

# ecrs_conn = pypyodbc.connect('DSN=Prototype;UID=ecrs;PWD=St4rs!')
# ecrs_conn = pypyodbc.connect(connection)

ecrs_conn = pyodbc.connect(connection)

In [3]:

# Function to generate a list of dates for a given month and year
def generate_month_dates(year, month):
    # Find the start and end dates of the month
    start_date = dt(year, month, 1)
    
    # Get the last day of the month using calendar.monthrange
    _, last_day = calendar.monthrange(year, month)
    end_date = dt(year, month, last_day)

    # Generate the list of dates
    date_list = []
    current_date = start_date
    while current_date <= end_date:
        date_list.append(current_date.strftime('%Y-%m-%d'))  # Store the date as a string
        current_date += td(days=1)  # Increment by 1 day

    return date_list

# Dictionary to store the dates for each month
all_month_dates = {}

# Loop through each month of 2024
for month in range(1, 13):
    all_month_dates[calendar.month_name[month]] = generate_month_dates(2024, month)

# Print the result (optional)
for month, dates in all_month_dates.items():
    print(f"{month}: {dates}")

January: ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08', '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12', '2024-01-13', '2024-01-14', '2024-01-15', '2024-01-16', '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20', '2024-01-21', '2024-01-22', '2024-01-23', '2024-01-24', '2024-01-25', '2024-01-26', '2024-01-27', '2024-01-28', '2024-01-29', '2024-01-30', '2024-01-31']
February: ['2024-02-01', '2024-02-02', '2024-02-03', '2024-02-04', '2024-02-05', '2024-02-06', '2024-02-07', '2024-02-08', '2024-02-09', '2024-02-10', '2024-02-11', '2024-02-12', '2024-02-13', '2024-02-14', '2024-02-15', '2024-02-16', '2024-02-17', '2024-02-18', '2024-02-19', '2024-02-20', '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-24', '2024-02-25', '2024-02-26', '2024-02-27', '2024-02-28', '2024-02-29']
March: ['2024-03-01', '2024-03-02', '2024-03-03', '2024-03-04', '2024-03-05', '2024-03-06', '2024-03-07', '2024-03-08', '2024-03-09', '2024-03-10', '2024-03-11', '2024-03-12', '2024-03-13', '2024-03-14', '2024-03-15', '2024-03-16', '2024-03-17', '2024-03-18', '2024-03-19', '2024-03-20', '2024-03-21', '2024-03-22', '2024-03-23', '2024-03-24', '2024-03-25', '2024-03-26', '2024-03-27', '2024-03-28', '2024-03-29', '2024-03-30', '2024-03-31']
April: ['2024-04-01', '2024-04-02', '2024-04-03', '2024-04-04', '2024-04-05', '2024-04-06', '2024-04-07', '2024-04-08', '2024-04-09', '2024-04-10', '2024-04-11', '2024-04-12', '2024-04-13', '2024-04-14', '2024-04-15', '2024-04-16', '2024-04-17', '2024-04-18', '2024-04-19', '2024-04-20', '2024-04-21', '2024-04-22', '2024-04-23', '2024-04-24', '2024-04-25', '2024-04-26', '2024-04-27', '2024-04-28', '2024-04-29', '2024-04-30']
May: ['2024-05-01', '2024-05-02', '2024-05-03', '2024-05-04', '2024-05-05', '2024-05-06', '2024-05-07', '2024-05-08', '2024-05-09', '2024-05-10', '2024-05-11', '2024-05-12', '2024-05-13', '2024-05-14', '2024-05-15', '2024-05-16', '2024-05-17', '2024-05-18', '2024-05-19', '2024-05-20', '2024-05-21', '2024-05-22', '2024-05-23', '2024-05-24', '2024-05-25', '2024-05-26', '2024-05-27', '2024-05-28', '2024-05-29', '2024-05-30', '2024-05-31']
June: ['2024-06-01', '2024-06-02', '2024-06-03', '2024-06-04', '2024-06-05', '2024-06-06', '2024-06-07', '2024-06-08', '2024-06-09', '2024-06-10', '2024-06-11', '2024-06-12', '2024-06-13', '2024-06-14', '2024-06-15', '2024-06-16', '2024-06-17', '2024-06-18', '2024-06-19', '2024-06-20', '2024-06-21', '2024-06-22', '2024-06-23', '2024-06-24', '2024-06-25', '2024-06-26', '2024-06-27', '2024-06-28', '2024-06-29', '2024-06-30']
July: ['2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04', '2024-07-05', '2024-07-06', '2024-07-07', '2024-07-08', '2024-07-09', '2024-07-10', '2024-07-11', '2024-07-12', '2024-07-13', '2024-07-14', '2024-07-15', '2024-07-16', '2024-07-17', '2024-07-18', '2024-07-19', '2024-07-20', '2024-07-21', '2024-07-22', '2024-07-23', '2024-07-24', '2024-07-25', '2024-07-26', '2024-07-27', '2024-07-28', '2024-07-29', '2024-07-30', '2024-07-31']
August: ['2024-08-01', '2024-08-02', '2024-08-03', '2024-08-04', '2024-08-05', '2024-08-06', '2024-08-07', '2024-08-08', '2024-08-09', '2024-08-10', '2024-08-11', '2024-08-12', '2024-08-13', '2024-08-14', '2024-08-15', '2024-08-16', '2024-08-17', '2024-08-18', '2024-08-19', '2024-08-20', '2024-08-21', '2024-08-22', '2024-08-23', '2024-08-24', '2024-08-25', '2024-08-26', '2024-08-27', '2024-08-28', '2024-08-29', '2024-08-30', '2024-08-31']
September: ['2024-09-01', '2024-09-02', '2024-09-03', '2024-09-04', '2024-09-05', '2024-09-06', '2024-09-07', '2024-09-08', '2024-09-09', '2024-09-10', '2024-09-11', '2024-09-12', '2024-09-13', '2024-09-14', '2024-09-15', '2024-09-16', '2024-09-17', '2024-09-18', '2024-09-19', '2024-09-20', '2024-09-21', '2024-09-22', '2024-09-23', '2024-09-24', '2024-09-25', '2024-09-26', '2024-09-27', '2024-09-28', '2024-09-29', '2024-09-30']
October: ['2024-10-01', '2024-10-02', '2024-10-03', '2024-10-04', '2024-10-05', '2024-10-06', '2024-10-07', '2024-10-08', '2024-10-09', '2024-10-10', '2024-10-11', '2024-10-12', '2024-10-13', '2024-10-14', '2024-10-15', '2024-10-16', '2024-10-17', '2024-10-18', '2024-10-19', '2024-10-20', '2024-10-21', '2024-10-22', '2024-10-23', '2024-10-24', '2024-10-25', '2024-10-26', '2024-10-27', '2024-10-28', '2024-10-29', '2024-10-30', '2024-10-31']
November: ['2024-11-01', '2024-11-02', '2024-11-03', '2024-11-04', '2024-11-05', '2024-11-06', '2024-11-07', '2024-11-08', '2024-11-09', '2024-11-10', '2024-11-11', '2024-11-12', '2024-11-13', '2024-11-14', '2024-11-15', '2024-11-16', '2024-11-17', '2024-11-18', '2024-11-19', '2024-11-20', '2024-11-21', '2024-11-22', '2024-11-23', '2024-11-24', '2024-11-25', '2024-11-26', '2024-11-27', '2024-11-28', '2024-11-29', '2024-11-30']
December: ['2024-12-01', '2024-12-02', '2024-12-03', '2024-12-04', '2024-12-05', '2024-12-06', '2024-12-07', '2024-12-08', '2024-12-09', '2024-12-10', '2024-12-11', '2024-12-12', '2024-12-13', '2024-12-14', '2024-12-15', '2024-12-16', '2024-12-17', '2024-12-18', '2024-12-19', '2024-12-20', '2024-12-21', '2024-12-22', '2024-12-23', '2024-12-24', '2024-12-25', '2024-12-26', '2024-12-27', '2024-12-28', '2024-12-29', '2024-12-30', '2024-12-31']

In [9]:
# def Month_df(date_list):
#     # Prepare a list to store DataFrames for each date range
#     df_list = []

#     # Iterate over pairs of consecutive dates using zip
#     for start_date, end_date in zip(date_list[:-1], date_list[1:]):
#         # Build the SQL query
#         ecrs_query = f"""SELECT 
#                             TRN_PK, TRN_StartTime AS StartTime, TRN_EndTime AS EndTime, TRN_ReceiptNumber AS ReceiptNumber, 
#                             CUS_AccountNum AS CustomerAccount, DPT_Name AS Department, CTI_DiscountAmount AS DiscountAmount, 
#                             TRN_Total AS TransactionTotal, TRN_NetSales AS NetSales, 
#                             CASE WHEN CTI_DiscountAmount <= 0 THEN TLI_Quantity ELSE -TLI_Quantity END AS RedemptionCount, 
#                             TLI_Quantity, TLI_Amount
#                         FROM v_TJTrans 
#                         WHERE CMB_Name LIKE '%Senior 10%' 
#                         AND TRN_EndTime BETWEEN '{start_date}' AND '{end_date}' 
#                         AND TRN_AllVoid = 0 
#                         AND ITI_VOID = 0 
#                         AND TRN_Status = 0
#         """
#         # Execute the query and append the result to df_list
#         ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
#         df_list.append(ecrs_df)
#         # print(f'{start_date} to {end_date} appended')

#         # Handle the last date separately to ensure the full day (up to 23:59:59) is included
#     last_start_date = dt.strptime(date_list[-2], '%Y-%m-%d')
#     last_end_date = dt.strptime(date_list[-1], '%Y-%m-%d')

#     # Adjust the last_end_date to include the full day (23:59:59)
#     last_end_date = last_end_date.replace(hour=23, minute=59, second=59)

#     last_ecrs_query = f"""SELECT 
#                             TRN_PK, TRN_StartTime AS StartTime, TRN_EndTime AS EndTime, TRN_ReceiptNumber AS ReceiptNumber, 
#                             CUS_AccountNum AS CustomerAccount, DPT_Name AS Department, CTI_DiscountAmount AS DiscountAmount, 
#                             TRN_Total AS TransactionTotal, TRN_NetSales AS NetSales, 
#                             CASE WHEN CTI_DiscountAmount <= 0 THEN TLI_Quantity ELSE -TLI_Quantity END AS RedemptionCount, 
#                             TLI_Quantity, TLI_Amount
#                         FROM v_TJTrans 
#                         WHERE CMB_Name LIKE '%Senior 10%' 
#                         AND TRN_EndTime BETWEEN '{last_start_date}' AND '{last_end_date}' 
#                         AND TRN_AllVoid = 0 
#                         AND ITI_VOID = 0 
#                         AND TRN_Status = 0
#     """
#     # Execute the query for the last day and append the result
#     last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)
#     df_list.append(last_ecrs_df)
#     # print(f'{last_start_date} to {last_end_date} appended')

#     # Concatenate all DataFrames for the month
#     month_df = pd.concat(df_list, ignore_index=True)
#     return month_df

In [4]:
def Month_df(date_list, ecrs_conn):
    # Prepare a list to store DataFrames for each date range
    df_list = []

    # Iterate over pairs of consecutive dates using zip
    for start_date, end_date in zip(date_list[:-1], date_list[1:]):
        # Build the SQL query
        ecrs_query = f"""SELECT 
                            TRN_PK, TRN_StartTime AS StartTime, TRN_EndTime AS EndTime, TRN_ReceiptNumber AS ReceiptNumber, 
                            CUS_AccountNum AS CustomerAccount, DPT_Name AS Department, CTI_DiscountAmount AS DiscountAmount, 
                            TRN_Total AS TransactionTotal, TRN_NetSales AS NetSales, 
                            CASE WHEN CTI_DiscountAmount <= 0 THEN TLI_Quantity ELSE -TLI_Quantity END AS RedemptionCount, 
                            TLI_Quantity, TLI_Amount
                        FROM v_TJTrans 
                        WHERE CMB_Name LIKE '%Senior 10%' 
                        AND TRN_EndTime BETWEEN '{start_date}' AND '{end_date}' 
                        AND TRN_AllVoid = 0 
                        AND ITI_VOID = 0 
                        AND TRN_Status = 0
        """
        try:
            # Execute the query and append the result to df_list
            ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)
            df_list.append(ecrs_df)
            print(f'{start_date} to {end_date} appended')
        except Exception as e:
            print(f"Error executing query for {start_date} to {end_date}: {e}")

    # Handle the last date separately to ensure the full day (up to 23:59:59) is included
    last_start_date = dt.strptime(date_list[-2], '%Y-%m-%d')
    last_end_date = dt.strptime(date_list[-1], '%Y-%m-%d')

    # Adjust the last_end_date to include the full day (23:59:59)
    last_end_date = last_end_date.replace(hour=23, minute=59, second=59)

    last_ecrs_query = f"""SELECT 
                            TRN_PK, TRN_StartTime AS StartTime, TRN_EndTime AS EndTime, TRN_ReceiptNumber AS ReceiptNumber, 
                            CUS_AccountNum AS CustomerAccount, DPT_Name AS Department, CTI_DiscountAmount AS DiscountAmount, 
                            TRN_Total AS TransactionTotal, TRN_NetSales AS NetSales, 
                            CASE WHEN CTI_DiscountAmount <= 0 THEN TLI_Quantity ELSE -TLI_Quantity END AS RedemptionCount, 
                            TLI_Quantity, TLI_Amount
                        FROM v_TJTrans 
                        WHERE CMB_Name LIKE '%Senior 10%' 
                        AND TRN_EndTime BETWEEN '{last_start_date}' AND '{last_end_date}' 
                        AND TRN_AllVoid = 0 
                        AND ITI_VOID = 0 
                        AND TRN_Status = 0
    """
    try:
        # Execute the query for the last day and append the result
        last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)
        df_list.append(last_ecrs_df)
        print(f'{last_start_date} to {last_end_date} appended')
    except Exception as e:
        print(f"Error executing query for {last_start_date} to {last_end_date}: {e}")

    # Concatenate all DataFrames for the month
    month_df = pd.concat(df_list, ignore_index=True)
    return month_df

In [ ]:
# Define the start and end dates for April 2024
start_date = d(2024, 4, 1)
end_date = d(2024, 4, 30)

# Generate the list of days in the format 'YYYY-MM-DD'
days_in_april_2024 = [(start_date + td(days=i)).strftime('%Y-%m-%d') for i in range((end_date - start_date).days + 1)]

# Print the result
print(days_in_april_2024)

In [ ]:
april_df = Month_df(days_in_april_2024,ecrs_conn)

In [6]:
# Create an empty list to store all DataFrames for each month
all_month_data = []

# Iterate over all months and get the DataFrame for each
for month in all_month_dates:
    month_df = Month_df(all_month_dates[month],ecrs_conn)  # Get the DataFrame for the current month
    month_df.to_csv(f'{month}.csv', index=False)  # Save the DataFrame to a CSV file    
    all_month_data.append(month_df)  # Append to the list
    print(f"Data for {month} appended")

# Concatenate all DataFrames into one
final_df = pd.concat(all_month_data, ignore_index=True)

# Print or return the final DataFrame
print(final_df)

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)

2024-01-01 to 2024-01-02 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)

2024-01-02 to 2024-01-03 appended
2024-01-03 to 2024-01-04 appended
2024-01-04 to 2024-01-05 appended
2024-01-05 to 2024-01-06 appended
2024-01-06 to 2024-01-07 appended
2024-01-07 to 2024-01-08 appended
2024-01-08 to 2024-01-09 appended
2024-01-09 to 2024-01-10 appended
2024-01-10 to 2024-01-11 appended
2024-01-11 to 2024-01-12 appended
2024-01-12 to 2024-01-13 appended
2024-01-13 to 2024-01-14 appended
2024-01-14 to 2024-01-15 appended
2024-01-15 to 2024-01-16 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)

2024-01-16 to 2024-01-17 appended
2024-01-17 to 2024-01-18 appended
2024-01-18 to 2024-01-19 appended
2024-01-19 to 2024-01-20 appended
2024-01-20 to 2024-01-21 appended
2024-01-21 to 2024-01-22 appended
2024-01-22 to 2024-01-23 appended
2024-01-23 to 2024-01-24 appended
2024-01-24 to 2024-01-25 appended
2024-01-25 to 2024-01-26 appended
2024-01-26 to 2024-01-27 appended
2024-01-27 to 2024-01-28 appended
2024-01-28 to 2024-01-29 appended
2024-01-29 to 2024-01-30 appended
2024-01-30 to 2024-01-31 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)

2024-01-30 00:00:00 to 2024-01-31 23:59:59 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:58: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  month_df = pd.concat(df_list, ignore_index=True)

Data for January appended
2024-02-01 to 2024-02-02 appended
2024-02-02 to 2024-02-03 appended
2024-02-03 to 2024-02-04 appended
2024-02-04 to 2024-02-05 appended
2024-02-05 to 2024-02-06 appended
2024-02-06 to 2024-02-07 appended
2024-02-07 to 2024-02-08 appended
2024-02-08 to 2024-02-09 appended
2024-02-09 to 2024-02-10 appended
2024-02-10 to 2024-02-11 appended
2024-02-11 to 2024-02-12 appended
2024-02-12 to 2024-02-13 appended
2024-02-13 to 2024-02-14 appended
2024-02-14 to 2024-02-15 appended
2024-02-15 to 2024-02-16 appended
2024-02-16 to 2024-02-17 appended
2024-02-17 to 2024-02-18 appended
2024-02-18 to 2024-02-19 appended
2024-02-19 to 2024-02-20 appended
2024-02-20 to 2024-02-21 appended
2024-02-21 to 2024-02-22 appended
2024-02-22 to 2024-02-23 appended
2024-02-23 to 2024-02-24 appended
2024-02-24 to 2024-02-25 appended
2024-02-25 to 2024-02-26 appended
2024-02-26 to 2024-02-27 appended
2024-02-27 to 2024-02-28 appended
2024-02-28 to 2024-02-29 appended
2024-02-28 00:00:00 to 2024-02-29 23:59:59 appended
Data for February appended
2024-03-01 to 2024-03-02 appended
2024-03-02 to 2024-03-03 appended
2024-03-03 to 2024-03-04 appended
2024-03-04 to 2024-03-05 appended
2024-03-05 to 2024-03-06 appended
2024-03-06 to 2024-03-07 appended
2024-03-07 to 2024-03-08 appended
2024-03-08 to 2024-03-09 appended
2024-03-09 to 2024-03-10 appended
2024-03-10 to 2024-03-11 appended
2024-03-11 to 2024-03-12 appended
2024-03-12 to 2024-03-13 appended
2024-03-13 to 2024-03-14 appended
2024-03-14 to 2024-03-15 appended
2024-03-15 to 2024-03-16 appended
2024-03-16 to 2024-03-17 appended
2024-03-17 to 2024-03-18 appended
2024-03-18 to 2024-03-19 appended
2024-03-19 to 2024-03-20 appended
2024-03-20 to 2024-03-21 appended
2024-03-21 to 2024-03-22 appended
2024-03-22 to 2024-03-23 appended
2024-03-23 to 2024-03-24 appended
2024-03-24 to 2024-03-25 appended
2024-03-25 to 2024-03-26 appended
2024-03-26 to 2024-03-27 appended
2024-03-27 to 2024-03-28 appended
2024-03-28 to 2024-03-29 appended
2024-03-29 to 2024-03-30 appended
2024-03-30 to 2024-03-31 appended
2024-03-30 00:00:00 to 2024-03-31 23:59:59 appended
Data for March appended
2024-04-01 to 2024-04-02 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)

2024-04-02 to 2024-04-03 appended
2024-04-03 to 2024-04-04 appended
2024-04-04 to 2024-04-05 appended
2024-04-05 to 2024-04-06 appended
2024-04-06 to 2024-04-07 appended
2024-04-07 to 2024-04-08 appended
2024-04-08 to 2024-04-09 appended
2024-04-09 to 2024-04-10 appended
2024-04-10 to 2024-04-11 appended
2024-04-11 to 2024-04-12 appended
2024-04-12 to 2024-04-13 appended
2024-04-13 to 2024-04-14 appended
2024-04-14 to 2024-04-15 appended
2024-04-15 to 2024-04-16 appended
2024-04-16 to 2024-04-17 appended
2024-04-17 to 2024-04-18 appended
2024-04-18 to 2024-04-19 appended
2024-04-19 to 2024-04-20 appended
2024-04-20 to 2024-04-21 appended
2024-04-21 to 2024-04-22 appended
2024-04-22 to 2024-04-23 appended
2024-04-23 to 2024-04-24 appended
2024-04-24 to 2024-04-25 appended
2024-04-25 to 2024-04-26 appended
2024-04-26 to 2024-04-27 appended
2024-04-27 to 2024-04-28 appended
2024-04-28 to 2024-04-29 appended
2024-04-29 to 2024-04-30 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)

2024-04-29 00:00:00 to 2024-04-30 23:59:59 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:58: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  month_df = pd.concat(df_list, ignore_index=True)

Data for April appended
2024-05-01 to 2024-05-02 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)

2024-05-02 to 2024-05-03 appended
2024-05-03 to 2024-05-04 appended
2024-05-04 to 2024-05-05 appended
2024-05-05 to 2024-05-06 appended
2024-05-06 to 2024-05-07 appended
2024-05-07 to 2024-05-08 appended
2024-05-08 to 2024-05-09 appended
2024-05-09 to 2024-05-10 appended
2024-05-10 to 2024-05-11 appended
2024-05-11 to 2024-05-12 appended
2024-05-12 to 2024-05-13 appended
2024-05-13 to 2024-05-14 appended
2024-05-14 to 2024-05-15 appended
2024-05-15 to 2024-05-16 appended
2024-05-16 to 2024-05-17 appended
2024-05-17 to 2024-05-18 appended
2024-05-18 to 2024-05-19 appended
2024-05-19 to 2024-05-20 appended
2024-05-20 to 2024-05-21 appended
2024-05-21 to 2024-05-22 appended
2024-05-22 to 2024-05-23 appended
2024-05-23 to 2024-05-24 appended
2024-05-24 to 2024-05-25 appended
2024-05-25 to 2024-05-26 appended
2024-05-26 to 2024-05-27 appended
2024-05-27 to 2024-05-28 appended
2024-05-28 to 2024-05-29 appended
2024-05-29 to 2024-05-30 appended
2024-05-30 to 2024-05-31 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)

2024-05-30 00:00:00 to 2024-05-31 23:59:59 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:58: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  month_df = pd.concat(df_list, ignore_index=True)

Data for May appended
2024-06-01 to 2024-06-02 appended
2024-06-02 to 2024-06-03 appended
2024-06-03 to 2024-06-04 appended
2024-06-04 to 2024-06-05 appended
2024-06-05 to 2024-06-06 appended
2024-06-06 to 2024-06-07 appended
2024-06-07 to 2024-06-08 appended
2024-06-08 to 2024-06-09 appended
2024-06-09 to 2024-06-10 appended
2024-06-10 to 2024-06-11 appended
2024-06-11 to 2024-06-12 appended
2024-06-12 to 2024-06-13 appended
2024-06-13 to 2024-06-14 appended
2024-06-14 to 2024-06-15 appended
2024-06-15 to 2024-06-16 appended
2024-06-16 to 2024-06-17 appended
2024-06-17 to 2024-06-18 appended
2024-06-18 to 2024-06-19 appended
2024-06-19 to 2024-06-20 appended
2024-06-20 to 2024-06-21 appended
2024-06-21 to 2024-06-22 appended
2024-06-22 to 2024-06-23 appended
2024-06-23 to 2024-06-24 appended
2024-06-24 to 2024-06-25 appended
2024-06-25 to 2024-06-26 appended
2024-06-26 to 2024-06-27 appended
2024-06-27 to 2024-06-28 appended
2024-06-28 to 2024-06-29 appended
2024-06-29 to 2024-06-30 appended
2024-06-29 00:00:00 to 2024-06-30 23:59:59 appended
Data for June appended
2024-07-01 to 2024-07-02 appended
2024-07-02 to 2024-07-03 appended
2024-07-03 to 2024-07-04 appended
2024-07-04 to 2024-07-05 appended
2024-07-05 to 2024-07-06 appended
2024-07-06 to 2024-07-07 appended
2024-07-07 to 2024-07-08 appended
2024-07-08 to 2024-07-09 appended
2024-07-09 to 2024-07-10 appended
2024-07-10 to 2024-07-11 appended
2024-07-11 to 2024-07-12 appended
2024-07-12 to 2024-07-13 appended
2024-07-13 to 2024-07-14 appended
2024-07-14 to 2024-07-15 appended
2024-07-15 to 2024-07-16 appended
2024-07-16 to 2024-07-17 appended
2024-07-17 to 2024-07-18 appended
2024-07-18 to 2024-07-19 appended
2024-07-19 to 2024-07-20 appended
2024-07-20 to 2024-07-21 appended
2024-07-21 to 2024-07-22 appended
2024-07-22 to 2024-07-23 appended
2024-07-23 to 2024-07-24 appended
2024-07-24 to 2024-07-25 appended
2024-07-25 to 2024-07-26 appended
2024-07-26 to 2024-07-27 appended
2024-07-27 to 2024-07-28 appended
2024-07-28 to 2024-07-29 appended
2024-07-29 to 2024-07-30 appended
2024-07-30 to 2024-07-31 appended
2024-07-30 00:00:00 to 2024-07-31 23:59:59 appended
Data for July appended
2024-08-01 to 2024-08-02 appended
2024-08-02 to 2024-08-03 appended
2024-08-03 to 2024-08-04 appended
2024-08-04 to 2024-08-05 appended
2024-08-05 to 2024-08-06 appended
2024-08-06 to 2024-08-07 appended
2024-08-07 to 2024-08-08 appended
2024-08-08 to 2024-08-09 appended
2024-08-09 to 2024-08-10 appended
2024-08-10 to 2024-08-11 appended
2024-08-11 to 2024-08-12 appended
2024-08-12 to 2024-08-13 appended
2024-08-13 to 2024-08-14 appended
2024-08-14 to 2024-08-15 appended
2024-08-15 to 2024-08-16 appended
2024-08-16 to 2024-08-17 appended
2024-08-17 to 2024-08-18 appended
2024-08-18 to 2024-08-19 appended
2024-08-19 to 2024-08-20 appended
2024-08-20 to 2024-08-21 appended
2024-08-21 to 2024-08-22 appended
2024-08-22 to 2024-08-23 appended
2024-08-23 to 2024-08-24 appended
2024-08-24 to 2024-08-25 appended
2024-08-25 to 2024-08-26 appended
2024-08-26 to 2024-08-27 appended
2024-08-27 to 2024-08-28 appended
2024-08-28 to 2024-08-29 appended
2024-08-29 to 2024-08-30 appended
2024-08-30 to 2024-08-31 appended
2024-08-30 00:00:00 to 2024-08-31 23:59:59 appended
Data for August appended
2024-09-01 to 2024-09-02 appended
2024-09-02 to 2024-09-03 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)

2024-09-03 to 2024-09-04 appended
2024-09-04 to 2024-09-05 appended
2024-09-05 to 2024-09-06 appended
2024-09-06 to 2024-09-07 appended
2024-09-07 to 2024-09-08 appended
2024-09-08 to 2024-09-09 appended
2024-09-09 to 2024-09-10 appended
2024-09-10 to 2024-09-11 appended
2024-09-11 to 2024-09-12 appended
2024-09-12 to 2024-09-13 appended
2024-09-13 to 2024-09-14 appended
2024-09-14 to 2024-09-15 appended
2024-09-15 to 2024-09-16 appended
2024-09-16 to 2024-09-17 appended
2024-09-17 to 2024-09-18 appended
2024-09-18 to 2024-09-19 appended
2024-09-19 to 2024-09-20 appended
2024-09-20 to 2024-09-21 appended
2024-09-21 to 2024-09-22 appended
2024-09-22 to 2024-09-23 appended
2024-09-23 to 2024-09-24 appended
2024-09-24 to 2024-09-25 appended
2024-09-25 to 2024-09-26 appended
2024-09-26 to 2024-09-27 appended
2024-09-27 to 2024-09-28 appended
2024-09-28 to 2024-09-29 appended
2024-09-29 to 2024-09-30 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)

2024-09-29 00:00:00 to 2024-09-30 23:59:59 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:58: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  month_df = pd.concat(df_list, ignore_index=True)

Data for September appended
2024-10-01 to 2024-10-02 appended
2024-10-02 to 2024-10-03 appended
2024-10-03 to 2024-10-04 appended
2024-10-04 to 2024-10-05 appended
2024-10-05 to 2024-10-06 appended
2024-10-06 to 2024-10-07 appended
2024-10-07 to 2024-10-08 appended
2024-10-08 to 2024-10-09 appended
2024-10-09 to 2024-10-10 appended
2024-10-10 to 2024-10-11 appended
2024-10-11 to 2024-10-12 appended
2024-10-12 to 2024-10-13 appended
2024-10-13 to 2024-10-14 appended
2024-10-14 to 2024-10-15 appended
2024-10-15 to 2024-10-16 appended
2024-10-16 to 2024-10-17 appended
2024-10-17 to 2024-10-18 appended
2024-10-18 to 2024-10-19 appended
2024-10-19 to 2024-10-20 appended
2024-10-20 to 2024-10-21 appended
2024-10-21 to 2024-10-22 appended
2024-10-22 to 2024-10-23 appended
2024-10-23 to 2024-10-24 appended
2024-10-24 to 2024-10-25 appended
2024-10-25 to 2024-10-26 appended
2024-10-26 to 2024-10-27 appended
2024-10-27 to 2024-10-28 appended
2024-10-28 to 2024-10-29 appended
2024-10-29 to 2024-10-30 appended
2024-10-30 to 2024-10-31 appended
2024-10-30 00:00:00 to 2024-10-31 23:59:59 appended
Data for October appended
2024-11-01 to 2024-11-02 appended
2024-11-02 to 2024-11-03 appended
2024-11-03 to 2024-11-04 appended
2024-11-04 to 2024-11-05 appended
2024-11-05 to 2024-11-06 appended
2024-11-06 to 2024-11-07 appended
2024-11-07 to 2024-11-08 appended
2024-11-08 to 2024-11-09 appended
2024-11-09 to 2024-11-10 appended
2024-11-10 to 2024-11-11 appended
2024-11-11 to 2024-11-12 appended
2024-11-12 to 2024-11-13 appended
2024-11-13 to 2024-11-14 appended
2024-11-14 to 2024-11-15 appended
2024-11-15 to 2024-11-16 appended
2024-11-16 to 2024-11-17 appended
2024-11-17 to 2024-11-18 appended
2024-11-18 to 2024-11-19 appended
2024-11-19 to 2024-11-20 appended
2024-11-20 to 2024-11-21 appended
2024-11-21 to 2024-11-22 appended
2024-11-22 to 2024-11-23 appended
2024-11-23 to 2024-11-24 appended
2024-11-24 to 2024-11-25 appended
2024-11-25 to 2024-11-26 appended
2024-11-26 to 2024-11-27 appended
2024-11-27 to 2024-11-28 appended
2024-11-28 to 2024-11-29 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)

2024-11-29 to 2024-11-30 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)

2024-11-29 00:00:00 to 2024-11-30 23:59:59 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:58: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  month_df = pd.concat(df_list, ignore_index=True)

Data for November appended
2024-12-01 to 2024-12-02 appended
2024-12-02 to 2024-12-03 appended
2024-12-03 to 2024-12-04 appended
2024-12-04 to 2024-12-05 appended
2024-12-05 to 2024-12-06 appended
2024-12-06 to 2024-12-07 appended
2024-12-07 to 2024-12-08 appended
2024-12-08 to 2024-12-09 appended
2024-12-09 to 2024-12-10 appended
2024-12-10 to 2024-12-11 appended
2024-12-11 to 2024-12-12 appended
2024-12-12 to 2024-12-13 appended
2024-12-13 to 2024-12-14 appended
2024-12-14 to 2024-12-15 appended
2024-12-15 to 2024-12-16 appended
2024-12-16 to 2024-12-17 appended
2024-12-17 to 2024-12-18 appended
2024-12-18 to 2024-12-19 appended
2024-12-19 to 2024-12-20 appended
2024-12-20 to 2024-12-21 appended
2024-12-21 to 2024-12-22 appended
2024-12-22 to 2024-12-23 appended
2024-12-23 to 2024-12-24 appended
2024-12-24 to 2024-12-25 appended
2024-12-25 to 2024-12-26 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ecrs_df = pd.read_sql(ecrs_query, ecrs_conn)

2024-12-26 to 2024-12-27 appended
2024-12-27 to 2024-12-28 appended
2024-12-28 to 2024-12-29 appended
2024-12-29 to 2024-12-30 appended
2024-12-30 to 2024-12-31 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  last_ecrs_df = pd.read_sql(last_ecrs_query, ecrs_conn)

2024-12-30 00:00:00 to 2024-12-31 23:59:59 appended

C:\Users\adossantos\AppData\Local\Temp\ipykernel_15624\4211220893.py:58: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  month_df = pd.concat(df_list, ignore_index=True)

Data for December appended
          TRN_PK               StartTime                 EndTime  \
0        2492090 2024-01-02 11:36:36.457 2024-01-02 11:37:21.802
1        2492090 2024-01-02 11:36:36.457 2024-01-02 11:37:21.802
2        2492090 2024-01-02 11:36:36.457 2024-01-02 11:37:21.802
3        2492090 2024-01-02 11:36:36.457 2024-01-02 11:37:21.802
4        2492090 2024-01-02 11:36:36.457 2024-01-02 11:37:21.802
...          ...                     ...                     ...
2414315  3251163 2024-12-31 17:41:14.892 2024-12-31 17:42:41.905
2414316  3251163 2024-12-31 17:41:14.892 2024-12-31 17:42:41.905
2414317  3251163 2024-12-31 17:41:14.892 2024-12-31 17:42:41.905
2414318  3251163 2024-12-31 17:41:14.892 2024-12-31 17:42:41.905
2414319  3251163 2024-12-31 17:41:14.892 2024-12-31 17:42:41.905

        ReceiptNumber CustomerAccount                      Department  \
0              301353            None  REFRIGERATED
1              301353            None  REFRIGERATED
2              301353            None  REFRIGERATED
3              301353            None  REFRIGERATED
4              301353            None  REFRIGERATED
...               ...             ...                             ...
2414315        368645            None  REFRIGERATED
2414316        368645            None  PRODUCE
2414317        368645            None  REFRIGERATED
2414318        368645            None  PRODUCE
2414319        368645            None  PRODUCE

         DiscountAmount  TransactionTotal  NetSales  RedemptionCount  \
0                 -0.63             40.63     40.63              1.0
1                 -0.30             40.63     40.63              1.0
2                 -0.30             40.63     40.63              1.0
3                 -0.30             40.63     40.63              1.0
4                 -0.30             40.63     40.63              1.0
...                 ...               ...       ...              ...
2414315           -0.64             61.11     61.11              1.0
2414316           -0.66             61.11     61.11              1.0
2414317           -0.52             61.11     61.11              1.0
2414318           -0.48             61.11     61.11              1.0
2414319           -0.22             61.11     61.11              1.0

         TLI_Quantity  TLI_Amount
0                 1.0       -0.63
1                 1.0       -0.30
2                 1.0       -0.30
3                 1.0       -0.30
4                 1.0       -0.30
...               ...         ...
2414315           1.0       -0.64
2414316           1.0       -0.66
2414317           1.0       -0.52
2414318           1.0       -0.48
2414319           1.0       -0.22

[2414320 rows x 12 columns]

In [7]:
final_df.head(15)

,TRN_PK,StartTime,EndTime,ReceiptNumber,CustomerAccount,Department,DiscountAmount,TransactionTotal,NetSales,RedemptionCount,TLI_Quantity,TLI_Amount
0,2492090,2024-01-02 11:36:36.457,2024-01-02 11:37:21.802,301353,None,REFRIGERATED,-0.63,40.63,40.63,1.0,1.0,-0.63
1,2492090,2024-01-02 11:36:36.457,2024-01-02 11:37:21.802,301353,None,REFRIGERATED,-0.30,40.63,40.63,1.0,1.0,-0.30
2,2492090,2024-01-02 11:36:36.457,2024-01-02 11:37:21.802,301353,None,REFRIGERATED,-0.30,40.63,40.63,1.0,1.0,-0.30
3,2492090,2024-01-02 11:36:36.457,2024-01-02 11:37:21.802,301353,None,REFRIGERATED,-0.30,40.63,40.63,1.0,1.0,-0.30
4,2492090,2024-01-02 11:36:36.457,2024-01-02 11:37:21.802,301353,None,REFRIGERATED,-0.30,40.63,40.63,1.0,1.0,-0.30
5,2492090,2024-01-02 11:36:36.457,2024-01-02 11:37:21.802,301353,None,REFRIGERATED,-0.30,40.63,40.63,1.0,1.0,-0.30
6,2492090,2024-01-02 11:36:36.457,2024-01-02 11:37:21.802,301353,None,REFRIGERATED,-0.30,40.63,40.63,1.0,1.0,-0.30
7,2492090,2024-01-02 11:36:36.457,2024-01-02 11:37:21.802,301353,None,REFRIGERATED,-0.30,40.63,40.63,1.0,1.0,-0.30
8,2492090,2024-01-02 11:36:36.457,2024-01-02 11:37:21.802,301353,None,REFRIGERATED,-0.30,40.63,40.63,1.0,1.0,-0.30
9,2492090,2024-01-02 11:36:36.457,2024-01-02 11:37:21.802,301353,None,REFRIGERATED,-0.30,40.63,40.63,1.0,1.0,-0.30
10,2492090,2024-01-02 11:36:36.457,2024-01-02 11:37:21.802,301353,None,REFRIGERATED,-0.30,40.63,40.63,1.0,1.0,-0.30
11,2492090,2024-01-02 11:36:36.457,2024-01-02 11:37:21.802,301353,None,REFRIGERATED,-0.30,40.63,40.63,1.0,1.0,-0.30
12,2492090,2024-01-02 11:36:36.457,2024-01-02 11:37:21.802,301353,None,REFRIGERATED,-0.30,40.63,40.63,1.0,1.0,-0.30
13,2492090,2024-01-02 11:36:36.457,2024-01-02 11:37:21.802,301353,None,PACKAGED,-0.22,40.63,40.63,1.0,1.0,-0.22
14,2492097,2024-01-02 11:36:23.024,2024-01-02 11:39:43.158,286254,4156685743,PACKAGED,-2.40,124.13,124.13,1.0,1.0,-2.40

In [ ]:
april_df.head(5)

In [6]:
# month_df.to_csv('january_2024.csv', index= False)

final_df.to_csv('monthly_2024.csv',index= False)

# don't add up all the discounts in sql, I'm missing transactions or discounts, totals are smaller than what Catapult reports